<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    

</head>

<body>


<style>
    body{
        background-color: rgba(173, 216, 230, 1);

    }
</style>

<header>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="{{ url_for('home_page') }}" alt="Rolsa Logo (Home Button)" title="Home Button (Rolsa Logo)">Rolsa</a>
        </div>
        
            <ul class="navbar-items">
                <li><a href="{{ url_for('energy_usage') }}" alt="Energy Usage Button">Energy Usage</li>
                <li><a href="{{ url_for('carbon_footprint') }}" alt="Carbon Footprint Button">Carbon Footprint</li>
                <li><a href="{{ url_for('installations_and_consultations') }}" alt="Energy Usage Button">Installations and Consultations</li>
                <li><a href="{{ url_for('green_energy_products') }}" alt="Green Energy Products Button">Green Energy Prodcuts</li>
            </ul>
            {% if logged_in %}
            <div class="navbar-login">
                <a class="button" href="{{ url_for('account') }}" alt="Account Button">Account</a>
            </div>
            {% else %}
            <div class="navbar-login">
                <a class="button" href="{{ url_for('log_in') }}" alt="Log In Button">Log In</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>


<div class="account-wrapper">
    <div class="account-page-content">
        <a href="/home" class="account-page-button">Back to home</a>
        <h1>Welcome, {{ customer[1] }}!</h1>

        <h3>Your account details:</h3>
        <ul>
            <!--<li><p>Firstname: {{ customer[1] }}</p></li>
            <li><p>Surname: {{ customer[2] }}</p></li>
            <li><p>Email: {{ customer[3] }}</p></li> -->

            <li>Firstname: {{ customer[1] }}</li>
            <li>Surname: {{ customer[2] }}</li>
            <li>Email: {{ customer[3] }}</li> 
            
        </ul>
        <a href="/log-out" class="account-page-button">Logout</a>
    </div>
</div>


</body>