
<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

</head>

<body>

    <style>
        body{
            background-color: rgba(173, 216, 230, 1);
    
        }
    </style>

<header>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="{{ url_for('home_page') }}" alt="Rolsa Logo (Home Button)" title="Home Button (Rolsa Logo)">Rolsa</a>
        </div>
        
            <ul class="navbar-items">
                <li><a href="{{ url_for('energy_usage') }}" alt="Energy Usage Button">Energy Usage</li>
                <li><a href="{{ url_for('carbon_footprint') }}" alt="Carbon Footprint Button">Carbon Footprint</li>
                <li><a href="{{ url_for('installations_and_consultations') }}" alt="Energy Usage Button">Installations and Consultations</li>
                <li><a href="{{ url_for('green_energy_products') }}" alt="Green Energy Products Button">Green Energy Prodcuts</li>
            </ul>
            {% if logged_in %}
            <div class="navbar-login">
                <a class="button" href="{{ url_for('account') }}" alt="Account Button">Account</a>
            </div>
            {% else %}
            <div class="navbar-login">
                <a class="button" href="{{ url_for('log_in') }}" alt="Log In Button">Log In</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>



<div class="account-form">
    <H1>Rolsa Technologies</H1>
    <h2>Billing Address</h2>
    <form action="/sign-up" method="post">

        <label for="firstname">
            Firstname:
        </label>
        <input type="text" id="firstname" name="firstname" placeholder="Enter firstname" required>

        <label for="surname">
            Surname:
        </label>
        <input type="text" id="surname" name="surname" placeholder="Enter your surname" required>

        <label for="address">
            Address:
        </label>
        <input type="text" id="address" name="address" placeholder="Enter your address" required>

        <label for="postcode">
            Postcode:
        </label>
        <input type="text" id="address" name="address" placeholder="Enter your postcode" required>


        {% if error %}
        <p style="color:rgb(255,0,0);">{{error}}</p>
        {% endif %}
        <div class="wrap-button">
            <button type="sign-up">
                Continue to checkout
            </button>
        </div>
    </form>

</div>