<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    

</head>

<body>

    <style>
        body{
            background-color: rgba(173, 216, 230, 1);
    
        }
    </style>


<header>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="{{ url_for('home_page') }}" alt="Rolsa Logo (Home Button)" title="Home Button (Rolsa Logo)">Rolsa</a>
        </div>
        
            <ul class="navbar-items">
                <li><a href="{{ url_for('energy_usage') }}" alt="Energy Usage Button">Energy Usage</li>
                <li><a href="{{ url_for('carbon_footprint') }}" alt="Carbon Footprint Button">Carbon Footprint</li>
                <li><a href="{{ url_for('installations_and_consultations') }}" alt="Energy Usage Button">Installations and Consultations</li>
                <li><a href="{{ url_for('green_energy_products') }}" alt="Green Energy Products Button">Green Energy Prodcuts</li>
            </ul>
            {% if logged_in %}
            <div class="navbar-login">
                <a class="button" href="{{ url_for('account') }}" alt="Account Button">Account</a>
            </div>
            {% else %}
            <div class="navbar-login">
                <a class="button" href="{{ url_for('log_in') }}" alt="Log In Button">Log In</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>


{% if logged_in %}
<div class="booking-page-wrapper">
    <div class="booking-page-product">
        <img src="{{ product[3] }}" alt="{{ product[1] }}">
        <div class="content">
            <div class="text">
                <h1>{{ product[1] }}</h1>
                <p>{{ product[2] }}</p>
                <p>Price: {{ product[4] }}</p> <!-- Adjust this index based on your table structure -->
            </div>
            <h2 class="booking-page-h1">Select a date to book your {{ consultation_or_installation }}</h2>
            <div class="booking-page-buttons">
                <form action ="/booking-complete" method="POST">
                    <input type="hidden" name="product_id" value="{{ product[0] }}">
                    <input type="hidden" name="consultation_or_installation" value="{{ consultation_or_installation }}">
                    <label for="scheduled-date">Select a date:</label>
                    <input type="date" id="scheduled_date" name="scheduled_date">
                    <br><br>
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>

    <script>
        // Get today's date in the format YYYY-MM-DD
        const today = new Date().toISOString().split("T")[0];
        
        // Set the 'min' attribute of the date picker to today's date
        document.getElementById("scheduled-date").setAttribute("min", today);
    </script>

</div>

{% else %}
<div class="log-in-to-book">
    <p>Please log in to schedule an installation or consultation</p>
</div>
{% endif %}


</body>