<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

</head>

<body>

    <style>
        body{
            background-color: rgba(173, 216, 230, 1);
    
        }
    </style>

<header>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="{{ url_for('home_page') }}" alt="Rolsa Logo (Home Button)" title="Home Button (Rolsa Logo)">Rolsa</a>
        </div>
        
            <ul class="navbar-items">
                <li><a href="{{ url_for('energy_usage') }}" alt="Energy Usage Button">Energy Usage</li>
                <li><a href="{{ url_for('carbon_footprint') }}" alt="Carbon Footprint Button">Carbon Footprint</li>
                <li><a href="{{ url_for('installations_and_consultations') }}" alt="Energy Usage Button">Installations and Consultations</li>
                <li><a href="{{ url_for('green_energy_products') }}" alt="Green Energy Products Button">Green Energy Prodcuts</li>
            </ul>
            {% if logged_in %}
            <div class="navbar-login">
                <a class="button" href="{{ url_for('account') }}" alt="Account Button">Account</a>
            </div>
            {% else %}
            <div class="navbar-login">
                <a class="button" href="{{ url_for('log_in') }}" alt="Log In Button">Log In</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<div class="green-energy-h1">
    <h1>Green Energy Products</h1>
</div>

<div class="product-wrapper">

    {% for product in products %}
    <div class="product-cards">
        <a href="/product-info/{{ product[0] }}">
            <img src="{{ product[3] }}" alt="{{ product[1] }}">
            <h2>{{ product[1] }}</h2>
            <p>Schedule Installation or Consultation today!</p>
        </a>
    </div>
    {% endfor %}

</div>

<!--
    {% for product in products %}
    <div class="product-cards">
        <form action="/product-info" method="POST">
            <input type="hidden" name="product_id" value="{{ product[0] }}">
            <button type="submit">
                <img src="{{ product[3] }}" alt="{{ product[1] }}">
                <h2>{{ product[1] }}</h2>
                <p>Schedule Installation or Consultation today!</p>
            </button>

        </form>

    </div>
    {% endfor %}

    -->



</body>