
<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">


</head>

<body>
    <style>

        body{
            margin:0;
        }
    </style>


<div class="home-section-1">
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a href="home" alt="Rolsa Logo (Home Button)" title="Home Button (Rolsa Logo)">Rolsa</a>
            </div>
            
                <ul class="navbar-items">
                    <li><a href="energy-usage" alt="Energy Usage Button">Energy Usage</li>
                    <li><a href="carbon-footprint" alt="Carbon Footprint Button">Carbon Footprint</li>
                    <li><a href="installations-and-consultations" alt="Energy Usage Button">Installations and Consultations</li>
                    <li><a href="green-energy-products" alt="Green Energy Products Button">Green Energy Prodcuts</li>
                </ul>
                {% if logged_in %}
                <div class="navbar-login">
                    <a class="button" href="/account" alt="Account Button">Account</a>
                </div>
                {% else %}
                <div class="navbar-login">
                    <a class="button" href="/log-in" alt="Log In Button">Log In</a>
                </div>
                {% endif %}
            </div>
    </header>

    <div class="content">
        <h2>Install Solar Panels Today From £3,000</h2>

    </div>

    <div class="buttons">
        <a href="#">Schedule Installation</a>
        <a href="#">Schedule Consultation</a>
    </div>
</div>


<div class="home-section-2">
    <div class="home-section-2-wrapper">
        <div class="who-are-rolsa">
            <h1>Who are we and what do we do?</h1>
            <p>At Rolsa Technologies specialises in the installation and maintenance of solar panels, electric vehicle (EV) charging stations, and smart home energy 
                management systems. We strive to provide people with green technology, reducing carbon emissions and the use of fossil fuels, slowly saving the planet.</p>
        </div>
    </div>
</div>


</body>