<!DOCTYPE html>
<head>
    <title>Test Page</title>
    <!--<link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" type="text/css" href="/styles/testingstyle.css">

</head>

<body>

<header>
    <div class="navbar">
        <a class="navbar-logo" href="testing.html" title="click to go home">Rolsa</a>
        <ul class="navbar-items">
            <li><a href="energy-usage.html">Energy Usage</li>
            <li><a href="carbon-footprint.html">Carbon Footprint</li>
            <li><a href="installations-and-consultations.html">Installations and Consultations</li>
            <li><a href="green-energy-products.html">Green Energy Prodcuts</li>
        </ul>
        <a class="navbar-login" href="log-in.html">Log In</a>
    </div>
</header>


</body>